@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables.scss';

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: "Montserrat", sans-serif;
}

p   {
    margin: 0;
}

.main__block {
    position: relative;
    max-width: 700px;
    border-radius: 50px;
    // border: 1px solid $primary-color;
    margin: 0 auto;
    padding: 20px;
}

.main__title {
    margin: 0;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.this__day {
    padding: 20px;
    width: 100%;
    background-color: $lite-backgroud;
    box-shadow: $box-shadow;
    border-radius: 20px;
    .top__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
   
    }
    .temp {
        font-size: 96px;
        font-weight: 500;
        color: $primary-color;
    }
    .this-date {
        font-size: 40px;
        color: $lite-color;
    }
}

.botoom__block {
    .time, 
    .city {
        color: $base-color;
        font-size: 25px;
    }
}

.main__weather {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.info__main {
    padding: 20px;
    max-width: 260px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 20px;

    .info__feeling,
    .info__precipitation,
    .info__wind {
        color: $lite-color;
        font-size: 20px;
        margin-bottom: 30px; // ???
    }
    .info__wind {
        margin: 0;
    }
    .info__desr {
        color: $base-color;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .main__weather {
        flex-wrap: wrap;
    }

    .info__main {
        max-width: 100%;
    }
    
    .main__header {
        flex-wrap: wrap;
        gap: 30px;
    }

    .main__title {
        font-size: 35px;
    }
}